@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  /* background-image: url(//pyt-images.imgix.net/images/web_app/pdg/map.png?dpr=2&auto=format,compress&q=100);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0px 30%;
  transition: all 0.3s ease 0s; */


} 

/* code {

 
}  */
